/*font-family: 'Crimson Text', serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;*/

.let-color{
    background-color: palevioletred;
    font-family: 'Playfair Display', serif;
   font-size: 80px;
   
}
.colormine{
    text-decoration:rgb(159, 237, 159);;
}
.textmine{
    text-decoration: underline;
    margin: 30px;
    font-family: 'Noto Serif', serif;
}
.lista{
    font-family:'Noto Serif', serif;
    margin: 10px;
}
.lista1{
   font-family:'Noto Serif', serif;
   margin: 10px;
   padding: 20px;
   margin-top: 10px;
}
.tyt{
    font-family:'Noto Serif', serif;
}
.contenid{
    font-family:'Noto Serif', serif;
    margin: 10px;
}
.img-card-top{
    padding: 15px;
    border: 25px;
    margin-top: 15px;
}
.producto{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    margin-top: 10px;
    border: 20px;
}

.productoEnElCarrito{
    padding: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton-enviar{
    padding-top: 5px;
    border-radius: 3px;
}
